.login-main{
    width: 100%;
    height: 100vh;
    display: flex;
    background-image: url("../../assets/z7266663808303_8081cbd573033dbbca3ae58fea68fc5f.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.login-container {
    width: 400px;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    text-align: center;
    height: 350px;
}

/* Tiêu đề */
.login-container h2 {
    margin-bottom: 20px;
    color: #333;
}

/* Form */
.login-form {
    display: flex;
    flex-direction: column;
    gap: 15px; /* Tăng khoảng cách giữa các phần tử */
    margin-bottom: 15px;
}

/* Input fields */
.login-form input {
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

/* Nút Submit */
.login-form button {
    padding: 12px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.login-form button:hover {
    background-color: #1e7e34;
}

/* Liên kết (Link) */
.login-container p {
    margin-top: 10px;
    font-size: 14px;
}

.login-container a {
    color: #007bff;
    font-size: 1rem;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s;
}

.login-container a:hover {
    text-decoration: underline;
}