.login-main{
    width: 100%;
    height: 100vh;
    display: flex;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../../assets/z7266663808303_8081cbd573033dbbca3ae58fea68fc5f.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
/* .login-container {
    width: 400px;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    text-align: center;
    height: 350px;
} */
.login-container {
    width: 30%;
    border: 1px solid #ccc;
    box-shadow: 0 4px 40px #28a745bd;
    background-color: #f9f9f9;
}

.login-container h2 {
    margin: 22px 28px;
    color: #005b0b;
}

/* Form */
.login-form {
    display: flex;
    flex-direction: column;
    gap: 15px; /* Tăng khoảng cách giữa các phần tử */
    margin-bottom: 15px;
}

/* Input fields */
.login-form input {
    width: 90%;
    margin: auto;
    padding: 12px;
    border: 1px solid #dddddd;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 1.05em;
    transition: border-color 0.3s, box-shadow 0.3s;
}
.login-form input:focus {
    border-color: #28a745;
    box-shadow: 0 0 5px rgba(40, 167, 69, 0.2);
    outline: none;
}
/* Nút Submit */
.login-form button {
    width: 90%;
    margin: auto;
    padding: 12px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.login-form button:hover {
    background-color: #1e7e34;
}

/* Liên kết (Link) */
.login-container p {
    margin-top: 10px;
    font-size: 14px;
}

.login-container a {
    color: #007bff;
    font-size: 1rem;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s;
}

.login-container a:hover {
    text-decoration: underline;
}