.sidebar {
  width: 250px;
  background: #202123;
  color: #fff;
  display: flex;
  flex-direction: column-reverse;
  position: relative;
}

.new-chat-btn {
  padding: 10px;
  background: #10a37f;
  border: none;
  color: #fff;
  cursor: pointer;
  text-align: justify;
  font-size: 1.1rem;
}

.chat-list {
  flex: 1;
  align-content: end;
  overflow-y: auto;
  margin-top: 10px;
}

.chat-item {
  padding: 10px;
  margin: 5px 0px;
  cursor: pointer;
}

.chat-item.active {
  background: #343541;
}

/* Khu vực dưới cùng */
.user-settings {
  border-top: 1px solid #444;
  padding: 10px;
}

.user-settings-btn {
  background: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
}

.user-settings-btn:hover {
  color: #10a37f;
}
