.chat-window {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.messages {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
  background: #f5f5f5;
}

.message {
  margin: 5px;
  display: inline-block;
  padding: 10px;
  border-radius: 10px;
}

.message.user {
  background: #0084ff;
  color: #fff;
  text-align: right;
}

.message.bot {
  background: #e0e0e0;
  color: #000;
  text-align: left;
}

.placeholder {
  color: #777;
}

.input-area {
  display: flex;
  padding: 10px;
  background: #fff;
}

.input-area input {
  flex: 1;
  padding: 10px;
}

.input-area button {
  margin-left: 10px;
  padding: 10px 15px;
  font-weight: bold;
  font-size: 1rem;
}
.btn-mess{
  flex: 1 1 0%;
    padding: 10px;
    border: 2px solid green;
    border-radius: 20px;
}
.sub-mess{
  margin-left: 10px;
  border: 2px solid green;
  border-radius: 15px;
}